/*
Copyright Ditpowuh 2018 | All comments are from me
*/

#resizeupgradeppc:hover {
  width: 155px;
  height: auto;
}

#resizeupgrade1:hover {
  width: 155px;
  height: auto;
}

#resizeupgrade2:hover {
  width: 155px;
  height: auto;
}
