/*
Copyright Ditpowuh 2018 | All comments are from me
*/

#resizeupgrade1 {
  width: 150px;
  height: auto;
}

#resizeupgrade2 {
  width: 150px;
  height: auto;
}

#resizeupgradeppc {
  width: 150px;
  height: auto;
}

#pieimage {
  width: 350px;
  height: auto;
}

#pieimage:hover {
  width: 355px;
  height: auto;
}
