/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

#resizeupgradeppc:active {
  width: 155px;
  height: auto;
}

#resizeupgrade1:active {
  width: 155px;
  height: auto;
}

#resizeupgrade2:active {
  width: 155px;
  height: auto;
}

#resizeupgrade3:active {
  width: 155px;
  height: auto;
}

#pieimage:active {
  width: 355px;
  height: auto;
}
