/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

body {
  background-color: lightblue;
}

.everything {
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  text-align: center;
}
