/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

#resizeupgradeppc:hover {
  width: 152.5px;
  height: auto;
}

#resizeupgrade1:hover {
  width: 152.5px;
  height: auto;
}

#resizeupgrade2:hover {
  width: 152.5px;
  height: auto;
}

#resizeupgrade3:hover {
  width: 152.5px;
  height: auto;
}

#pieimage:hover {
  width: 352.5px;
  height: auto;
}
