/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

#resizeupgrade1 {
  width: 150px;
  height: auto;
}

#resizeupgrade2 {
  width: 150px;
  height: auto;
}

#resizeupgrade3 {
  width: 150px;
  height: auto;
}

#resizeupgradeppc {
  width: 150px;
  height: auto;
}

#pieimage {
  width: 350px;
  height: auto;
}
